
APP_NAME=TCMS_OCTO_APP_NAME
APP_ENV=TCMS_OCTO_APP_ENV
APP_KEY=TCMS_OCTO_APP_KEY
APP_DEBUG=TCMS_OCTO_APP_DEBUG
APP_TIMEZONE=TCMS_OCTO_APP_TIMEZONE

DB_HOST=TCMS_OCTO_DB_HOST
DB_PORT=TCMS_OCTO_DB_PORT
DB_DATABASE=TCMS_OCTO_DB_DATABASE
DB_USERNAME=TCMS_OCTO_DB_USERNAME
DB_PASSWORD='TCMS_OCTO_DB_PASSWORD'

CACHE_DRIVER=TCMS_OCTO_CACHE_DRIVER
SESSION_DRIVER=TCMS_OCTO_SESSION_DRIVER
QUEUE_DRIVER=TCMS_OCTO_QUEUE_DRIVER

REDIS_CLIENT=TCMS_OCTO_REDIS_CLIENT
REDIS_HOST=TCMS_OCTO_REDIS_HOST
REDIS_PORT=TCMS_OCTO_REDIS_PORT
REDIS_DB=TCMS_OCTO_REDIS_DB
REDIS_CACHE_DB=TCMS_OCTO_REDIS_CACHE_DB

API_BASE_URL=TCMS_OCTO_API_BASE_URL
OCTO_BASE_URL=TCMS_OCTO_BASE_URL

API_JSON_LOGS_FILE='TCMS_OCTO_API_JSON_LOGS_FILE'